@mixin FlexElement($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin ForBlocks ($justify) {
    display: flex;
    justify-content: $justify;
}

body {
    @include FlexElement(center, center);
    width: 100%;
    height: 100vh;
    background: linear-gradient(118deg, #FF4B4B 0.27%, #EE722C 89.1%);
}

.mainContent {
    &_mainBlock {
        width: 465px;
        height: 537px;      
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.50);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        &_logoBlock {
            margin: 14px 0 0 14px;
            position: absolute;
            display: flex;
            column-gap: 9px;
            width: 196px;
            height: 51px;      
            &_textBlock {
                width: 137px;        
                height: 51px;  
                &_miniTitle {
                    color: #FFF;
                    font-family: "Overpass Mono";
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;     
                    margin-top: 5px      
                }
                &_titleLogo {
                    color: #FFF;
                    font-family: "Overpass Mono";
                    font-size: 25px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }
        &_centerBlock {
            @include FlexElement(center, center);
            height: 100%;
            &_errorForm {
                width: 285px;
                height: 305px;
                &_svgCenter {
                    @include ForBlocks(center);
                }
                &_titleCenter {
                    @include ForBlocks(center);
                    &_titleText {
                        color: #FFF;
                        font-family: "Overpass Mono";
                        font-size: 50px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        margin-top: 21px;
                    }
                }
                &_miniCenter {
                    @include ForBlocks(center);
                    &_miniText {
                        color: #FFF;
                        text-align: center;
                        font-family: "Overpass Mono";
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
                &_btnTryAgain {
                    width: 282.5px;
                    height: 31px;           
                    border-radius: 2px;
                    background: #ffffff;
                    color: #000000;
                    font-family: "Overpass Mono";
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    border: none;
                    transition-duration: 0.6s;
                    cursor: pointer;
                    margin-top: 50px;
                    &:hover {
                        background: #12A921;
                        color: #ffffff;
                        transition-duration: 0.6s;
                    }
                }
            }
        }
    }
}